h1{
	color: DodgerBlue;
	text-align: center;
	text-shadow: 3px 3px 5px DarkBlue;
	font-size: 60px;
	font-family: cursive;
}
h2{
	color: DodgerBlue;
	text-align: center;
	text-shadow: 2px 2px 4px DarkBlue;
	font-size: 30px;
	font-family: Arial;
}
h3{
	color: black;
	text-align: center;
	text-shadow: 2px 2px 6px white;
	font-size: 20px;
	font-family: Arial;
}
body{
    background-image: url("https://habrastorage.org/files/42e/d6b/a3b/42ed6ba3b1c34698880272577a2a06dc.jpg"); 
     }
a{
   font-size:16px; 
   color:Crimson;
   font-weight:bold 
}
a:hover {
	font-size:16px; 
	color:red; 
	font-weight:bold
}
p {
	font-size:25pt;
	color:Black;
	text-align: center;
}
dt{
	color:Blue;
	font-size: 20pt;
	font-family: Arial;
}
dd{
	color:Black;
	font-size: 18pt;
	font-family: Arial;
}
hr{
	color:Black;
}
img{
	width: 270px;
	height: 180px;
	margin: left;
    margin: right;
}
table{
	border: 1px;
	color: black;
	background: skyblue;

}
